ultra_optimization_results.pkl
tests/AG_general/__pycache__/AG_confs.cpython-310.pyc
tests/AG_general/__pycache__/AG.cpython-310.pyc
tests/AG_general/__pycache__/colition.cpython-310.pyc
tests/AG_general/libs/__pycache__/auxiliaries_functions.cpython-310.pyc
tests/AG_general/libs/__pycache__/crossover.cpython-310.pyc
tests/AG_general/libs/__pycache__/functions.cpython-310.pyc
tests/AG_general/libs/__pycache__/mutation.cpython-310.pyc
tests/AG_general/libs/__pycache__/plot.cpython-310.pyc
tests/AG_general/libs/__pycache__/selection.cpython-310.pyc
tests/two_body/__pycache__/__init__.cpython-312.pyc
tests/two_body/core/__pycache__/__init__.cpython-312.pyc
tests/two_body/core/__pycache__/cache.cpython-312.pyc
tests/two_body/core/__pycache__/config.cpython-312.pyc
tests/two_body/core/__pycache__/telemetry.cpython-312.pyc
tests/two_body/logic/__pycache__/__init__.cpython-312.pyc
tests/two_body/logic/__pycache__/controller.cpython-312.pyc
tests/two_body/logic/__pycache__/fitness.cpython-312.pyc
tests/two_body/logic/__pycache__/ga.cpython-312.pyc
tests/two_body/logic/__pycache__/parameters.cpython-312.pyc
tests/two_body/presentation/__pycache__/__init__.cpython-312.pyc
tests/two_body/presentation/__pycache__/ui.cpython-312.pyc
tests/two_body/presentation/__pycache__/visualization.cpython-312.pyc
tests/two_body/simulation/__pycache__/__init__.cpython-312.pyc
tests/two_body/simulation/__pycache__/dynamics.cpython-312.pyc
tests/two_body/simulation/__pycache__/lyapunov.cpython-312.pyc
tests/two_body/simulation/__pycache__/rebound_adapter.cpython-312.pyc
two_body/simulation/__pycache__/__init__.cpython-312.pyc
two_body/simulation/__pycache__/dynamics.cpython-312.pyc
two_body/simulation/__pycache__/lyapunov.cpython-312.pyc
two_body/simulation/__pycache__/rebound_adapter.cpython-312.pyc
two_body/logic/__pycache__/__init__.cpython-312.pyc
two_body/logic/__pycache__/controller.cpython-312.pyc
two_body/logic/__pycache__/fitness.cpython-312.pyc
two_body/logic/__pycache__/ga.cpython-312.pyc
two_body/logic/__pycache__/parameters.cpython-312.pyc
two_body/__pycache__/__init__.cpython-312.pyc
two_body/core/__pycache__/__init__.cpython-312.pyc
two_body/core/__pycache__/cache.cpython-312.pyc
two_body/core/__pycache__/config.cpython-312.pyc
two_body/core/__pycache__/telemetry.cpython-312.pyc
two_body/presentation/__pycache__/__init__.cpython-312.pyc
two_body/presentation/__pycache__/ui.cpython-312.pyc
two_body/presentation/__pycache__/visualization.cpython-312.pyc
tests/AG_general/__pycache__/AG_confs.cpython-310.pyc
tests/AG_general/__pycache__/AG.cpython-310.pyc
tests/AG_general/__pycache__/colition.cpython-310.pyc
tests/AG_general/__pycache__/AG_confs.cpython-310.pyc
tests/AG_general/__pycache__/AG.cpython-310.pyc
tests/AG_general/__pycache__/colition.cpython-310.pyc
tests/AG_general/libs/__pycache__/auxiliaries_functions.cpython-310.pyc
tests/AG_general/libs/__pycache__/crossover.cpython-310.pyc
tests/AG_general/libs/__pycache__/functions.cpython-310.pyc
tests/AG_general/libs/__pycache__/mutation.cpython-310.pyc
tests/AG_general/libs/__pycache__/plot.cpython-310.pyc
tests/AG_general/libs/__pycache__/selection.cpython-310.pyc
two_body/presentation/__pycache__/triDTry.cpython-312.pyc
two_body/reports/pie_sections_e73afb7b-8b03-4125-af9d-c59c20b88dc7.png
two_body/reports/timeline_by_batch_e73afb7b-8b03-4125-af9d-c59c20b88dc7.png
two_body/reports/timeline_by_individual_e73afb7b-8b03-4125-af9d-c59c20b88dc7.png
two_body/reports/timeline_simulation_e73afb7b-8b03-4125-af9d-c59c20b88dc7.png
two_body/perf_timings/__pycache__/__init__.cpython-312.pyc
two_body/perf_timings/__pycache__/io_utils.cpython-312.pyc
two_body/perf_timings/__pycache__/logger.cpython-312.pyc
two_body/perf_timings/__pycache__/timers.cpython-312.pyc
two_body/reports/pie_sections_8c1b22b3-407d-4ace-9792-5344af60d3dd.png
two_body/reports/timeline_by_batch_8c1b22b3-407d-4ace-9792-5344af60d3dd.png
two_body/reports/timeline_by_individual_8c1b22b3-407d-4ace-9792-5344af60d3dd.png
two_body/reports/timeline_simulation_8c1b22b3-407d-4ace-9792-5344af60d3dd.png
two_body/data/timings/timings_8c1b22b3-407d-4ace-9792-5344af60d3dd_20251026_234417.csv
two_body/data/timings/timings_9a61b4e2-e6f1-42e7-aaea-33478e33efd3_20251026_234930.csv
two_body/data/timings/timings_e73afb7b-8b03-4125-af9d-c59c20b88dc7_20251026_231311.csv
two_body/data/timings/timings_f88ae915-13c7-4f58-96de-cce3c5da89a4_20251027_051621.csv
two_body/test/artifacts/animations/caso01_orbit.gif
two_body/reports/pie_sections_6576442c-2815-4e04-94bb-9833e5d3eaa9.png
two_body/reports/pie_sections_e9f64791-4f9d-483a-a3a4-59302308bd75.png
two_body/reports/timeline_by_batch_6576442c-2815-4e04-94bb-9833e5d3eaa9.png
two_body/reports/timeline_by_batch_e9f64791-4f9d-483a-a3a4-59302308bd75.png
two_body/reports/timeline_by_individual_581497a9-7932-42e9-a01d-e53620d02ce6.png
two_body/reports/timeline_by_individual_6576442c-2815-4e04-94bb-9833e5d3eaa9.png
two_body/reports/timeline_by_individual_e9f64791-4f9d-483a-a3a4-59302308bd75.png
two_body/reports/timeline_simulation_6576442c-2815-4e04-94bb-9833e5d3eaa9.png
two_body/reports/timeline_simulation_e9f64791-4f9d-483a-a3a4-59302308bd75.png
two_body/data/timings/timings_581497a9-7932-42e9-a01d-e53620d02ce6_20251029_033201.csv
two_body/data/timings/timings_6576442c-2815-4e04-94bb-9833e5d3eaa9_20251028_060149.csv
two_body/data/timings/timings_e9f64791-4f9d-483a-a3a4-59302308bd75_20251028_034439.csv
two_body/reports/pie_sections_410c61c6-2269-43f3-b56e-21b33937096b.png
two_body/reports/pie_sections_675edaad-6e42-4915-917a-8c6dd992c4ba.png
two_body/reports/pie_sections_752e44e9-ec0f-4d6f-8a3c-8adc3160cbeb.png
two_body/reports/pie_sections_c67b5bec-8bc6-4995-a04e-486655768ed4.png
two_body/reports/timeline_by_batch_410c61c6-2269-43f3-b56e-21b33937096b.png
two_body/reports/timeline_by_batch_675edaad-6e42-4915-917a-8c6dd992c4ba.png
two_body/reports/timeline_by_batch_752e44e9-ec0f-4d6f-8a3c-8adc3160cbeb.png
two_body/reports/timeline_by_batch_c67b5bec-8bc6-4995-a04e-486655768ed4.png
two_body/reports/timeline_by_individual_410c61c6-2269-43f3-b56e-21b33937096b.png
two_body/reports/timeline_by_individual_675edaad-6e42-4915-917a-8c6dd992c4ba.png
two_body/reports/timeline_by_individual_752e44e9-ec0f-4d6f-8a3c-8adc3160cbeb.png
two_body/reports/timeline_by_individual_c67b5bec-8bc6-4995-a04e-486655768ed4.png
two_body/reports/timeline_simulation_410c61c6-2269-43f3-b56e-21b33937096b.png
two_body/reports/timeline_simulation_675edaad-6e42-4915-917a-8c6dd992c4ba.png
two_body/reports/timeline_simulation_752e44e9-ec0f-4d6f-8a3c-8adc3160cbeb.png
two_body/reports/timeline_simulation_c67b5bec-8bc6-4995-a04e-486655768ed4.png
two_body/data/timings/timings_4a2911a3-93c3-4376-b474-b1a4bcbf7842_20251031_172127.csv
two_body/data/timings/timings_4f8c773e-28bf-4a65-abd0-db8b588d8e0f_20251031_143323.csv
two_body/data/timings/timings_04fb8049-1c57-4d2b-8294-0d5dcae0764e_20251031_153933.csv
two_body/data/timings/timings_9db700ba-9832-4d98-9782-19b0d7114f19_20251031_152652.csv
two_body/data/timings/timings_80fe9c01-16eb-4be5-ae36-589112375082_20251029_060817.csv
two_body/data/timings/timings_193b62e1-a7d2-4de8-8390-4bc9c5cd11a4_20251031_170552.csv
two_body/data/timings/timings_410c61c6-2269-43f3-b56e-21b33937096b_20251029_060809.csv
two_body/data/timings/timings_675edaad-6e42-4915-917a-8c6dd992c4ba_20251102_190636.csv
two_body/data/timings/timings_752e44e9-ec0f-4d6f-8a3c-8adc3160cbeb_20251102_200554.csv
two_body/data/timings/timings_67526f23-a79a-445d-9ef7-51c39f1bbd33_20251029_060822.csv
two_body/data/timings/timings_74600b5e-70e3-4d32-85f9-7fa595e6f444_20251031_175233.csv
two_body/data/timings/timings_bcf67cb3-1f34-458d-8f61-07085f0da870_20251031_172230.csv
two_body/data/timings/timings_c67b5bec-8bc6-4995-a04e-486655768ed4_20251102_194552.csv
two_body/data/timings/timings_c1999f6d-b789-4444-a80d-1a9a881db842_20251031_160406.csv
two_body/data/timings/timings_c59187e8-83fd-4684-850b-f58ab78d0ae6_20251031_152751.csv
two_body/data/timings/timings_eb379d63-73d9-41dd-b06f-178ff87d91ec_20251029_060828.csv
two_body/scripts/__pycache__/demo_tierra.cpython-312.pyc
two_body/data/timings/timings_7d6250a1-1710-478f-8678-e1a54c587a25_20251103_000321.csv
two_body/data/timings/timings_b944856b-e5ce-4cdb-8208-9b8758e3bfa4_20251103_000326.csv
two_body/data/timings/timings_da591e96-f643-4abe-b6a8-be1f84342107_20251103_000324.csv
two_body/data/timings/timings_ddf0b833-a5c4-4572-b8c0-19a388d2f328_20251103_000322.csv
two_body/reports/caso03-metricasTiempo.png
two_body/reports/caso04-metricasTiempo.png
two_body/reports/timeline_by_batch_da591e96-f643-4abe-b6a8-be1f84342107.png
two_body/reports/timeline_by_batch_ddf0b833-a5c4-4572-b8c0-19a388d2f328.png
two_body/reports/timeline_by_individual_da591e96-f643-4abe-b6a8-be1f84342107.png
two_body/reports/timeline_simulation_da591e96-f643-4abe-b6a8-be1f84342107.png
two_body/reports/timeline_simulation_ddf0b833-a5c4-4572-b8c0-19a388d2f328.png
two_body/data/timings/timings_1abee905-2810-4b35-a61a-31a7fda94673_20251117_082729.csv
two_body/data/timings/timings_7c154a51-091c-42ff-b771-75e6a1c27142_20251117_100421.csv
two_body/data/timings/timings_77f3efd5-be66-4ec9-8506-f260569ccba1_20251118_015850.csv
two_body/data/timings/timings_254e2dd7-f238-4780-bd77-2921c6f2ce67_20251117_092832.csv
two_body/data/timings/timings_0fee0d4f-d0f0-4713-b7b7-1a9a61cc6153_20251203_085313.csv
two_body/data/timings/timings_6df98dc0-d485-46f5-bdba-45da540c7326_20251203_092453.csv
two_body/data/timings/timings_28de6420-24c1-4431-9a4f-f81d00706187_20251203_090909.csv
two_body/data/timings/timings_a5dc7d30-b913-4f70-919a-1b4d18ed26fc_20251203_091609.csv
two_body/data/timings/timings_d9dbcf2f-d574-420d-91ff-937fe34c46de_20251203_092225.csv
two_body/data/timings/timings_ddb61276-9126-4654-8c65-cbd7db01ec94_20251203_100106.csv
two_body/data/timings/timings_101fd378-425c-4d4b-a9cd-06af0e76da9a_20251203_104750.csv
two_body/data/timings/timings_b47f3af9-b113-417f-8062-d81697a5eb0c_20251203_103042.csv
